[Unit]
Description=Probenverduenner Flask Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/EingebetteteSysteme_Probenverduenner_klein
ExecStart=/home/pi/EingebetteteSysteme_Probenverduenner_klein/.venv/bin/python -m app.main
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
Environment=HW_BACKEND=rpi

[Install]
WantedBy=multi-user.target
